<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/motronic.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BootstrapBlazorApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Bootstrap Blazor Web App</title>
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
