@page "/table-server"
@attribute [TabItemOption(Text = "TableServer")]
@rendermode InteractiveServer

<PageTitle>Table</PageTitle>

<BootstrapBlazorRoot>
    <Table TItem="Foo" AutoGenerateColumns="true" class="table-demo"
           IsPagination="true" PageItemsSource="PageItemsSource" RenderMode="TableRenderMode.Table"
           IsStriped="true" IsBordered="true" IsMultipleSelect="true"
           ShowSkeleton="true" ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true"
           OnQueryAsync="OnQueryAsync" OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync">
        <TableColumns>
            <TableColumn @bind-Field="@context.Hobby" Items="GetHobbys(context)" />
        </TableColumns>
    </Table>
</BootstrapBlazorRoot>
